body {
  background-color: orange;
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  text-align: center;
  background-color: rgb(219, 129, 45);
  color: black;
  margin: 20px;
  padding: 20px;
}

p  {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    color: white;

}
h2{
    background-color: rgb(219, 129, 45);
    color: black;
    margin: 20px;
    padding: 20px;
    text-align: left;

}
a {
    font-family: verdana;
    font-size: 20px;
    margin: 20px;
    padding: 20px;

}


